// .element__title {
//   display: grid;
//   align-items: center;
//   grid-template-areas:
//     'name  price but'
//     'massa price but';
//   grid-template-rows: 1fr 1fr;
//   grid-template-columns: 6fr 2fr 1fr;
// }
.element__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 17px 0 10px;
}
.product_name_weight {
  display: inline;
}
.product_name_weight span {
  margin-right: 5px;
  cursor: pointer;
}
.product_name_weight :last-child {
  font-size: 12px;
  color: #9ba5ab;
}
.priceAndButton {
  display: flex;
  align-items: center;
}

.price {
  padding-right: 9px;
}
.element__title > .name {
  grid-area: name;

  /* background-color: #8ca0ff; */
}

.element__title > .massa {
  grid-area: massa;
  font-size: 13px;
  color: #9ba5ab;

  /* background-color: #ffa08c; */
}

.element__title > .price {
  grid-area: price;
  /* background-color: #ffff64; */
}
.element__title > .but {
  grid-area: but;
  /* background-color: #ffff64; */
}
.img {
  // width: 20vw;
  // position: absolute;
  // width: -webkit-fill-available;
  position: relative;
  display: block;
  width: 100%;
  aspect-ratio: 351/235;
  transition: opacity 0.2s ease;
  border-radius: 8px;
  cursor: pointer;
}
// SCSS dishCard img
//убрать фон чтобы не прописывать border-radius в двух местах

.element {
  // background-color: #9ba5ab7d;
  position: relative;
}
.element span {
}
.product_composition {
  display: -webkit-box;

  // min-height: 43px;
  padding: 8px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.but {
  margin-top: -7px;
}
.cartBadge {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  background: #f8f9f9;
  border-radius: 4px;
  width: 40px;
  height: 30px;
  justify-content: space-between;
  align-items: center;
}
.cartBadge span {
  padding-left: 8px;
}
