.basket {
  grid-area: basket;
  position: fixed;
  top: 76px;
  right: 0;
  top: 0;
  z-index: 101;
  height: -webkit-fill-available;
  background-color: #78aa9f;
  padding: 20px 0px 0px 30px;
}
.order {
  position: relative;
  text-align: center;
  // top: 30px;
  padding-top: 15px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.scroll {
  overflow: auto;
  height: 83vh;
  padding-top: 20px;
  position: relative;
}

.check {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 0;
  font-weight: 700;
}
