.list {
  display: grid;
  grid-template-areas:
    'head head head'
    'menu contaner basket';
  grid-template-rows: 1fr;
  grid-template-columns: 240px 1fr 320px;
  max-width: 100%;
  overflow-x: hidden;
}

.list .desktop-header {
  grid-area: head;
  /* z-index: 101; */
  /* background-color: #8ca0ff; */
}

.list .menu-prod {
  grid-area: menu;
  font-size: 13px;
  color: #a1b5c0;
  background-color: #4e585d;
  /* position: sticky; */
}
.list > .menu-prod p {
  cursor: pointer;
}

.list__contaner {
  position: relative;
  top: 78px;
  grid-area: contaner;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  margin: 0 auto 50px;
  /* ----------------------------------------------не удалось margin вставить в границы страницы  ----------------------------------------------------- */
  /* ----------------------------------------------отталкивает menu и basket ----------------------------------------------------- */
}
.list__title {
  top: 74px;
  position: fixed;
  display: grid;
  grid-gap: 10px;
  gap: 10px;
  align-items: baseline;
  width: 100%;
  padding: 30px;
  background-color: white;
  z-index: 100;
}
.list__item {
  position: relative;
  top: 82px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  gap: 20px;
  align-items: stretch;
  max-width: 1024px;
  min-width: 775px;
}
.list {
  display: flex;
  margin: 0px 360px 0 240px;
}
//SCSS dish выровнял flex-ом
//TODO dish проверить стили и удалить гриды

@media screen and (max-width: 1400px) {
  .list__item {
    grid-template-columns: repeat(2, minmax(160px, 1fr));
  }
}
