/* ----------------------------------ОБНУЛЕНИЕ СТИЛЕЙ ---------------------------------- */

* {
  padding: 0;
  margin: 0;
  border: 0;
}
/* *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  } */
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  /* height: 100%; */
  /* влияет на размер окна - если и не входит переносит */
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px; /* указал который нужен для транслита */
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ----------------------------------ОБНУЛЕНИЕ СТИЛЕЙ ---------------------------------- */

/* .App-header {
  background-color: #a7c8b494;
  font-size: calc(10px + 2vmin);
  align-items: center;
  display: grid;
}
.App-header div {
  padding: 15px;
}
.nav {
  cursor: pointer;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  justify-content: space-evenly;
  align-items: center;
  /* position: absolute;
  z-index: 1; 
}
.nav > div {
  padding: 2vw;
} */
/* ----------------------------------------------Сделать переменные с р-р текста и цветами ---------------------------------- */

.App-body {
  position: relative;
  top: 76px;
  min-height: 60vh;
  /* font-size: calc(10px + 2vmin); */

  font-size: 34px;
}
.desktop-header {
  /* background-color: #a7c8b4; */
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  height: 77px;

  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 98, 0, 0.5)),
    url('../public/picture.ico');

  border-bottom: 1px solid hsl(0deg 0.2% 17.43% / 18%);
}
.desktop-header div {
  margin: 0 20px;
}
.desktop-header__left {
  text-align: left;
}
.desktop-header__center {
  text-align: center;
  font-size: 34px;
  font-style: italic;
}
.desktop-header__right {
  display: flex;
  justify-content: flex-end;
}

/* ----------------------------------------------------- Изменение основных тэги ----------------------------------------------------- */

h1,
h6 {
  font-weight: 500;
  text-align: left;
  padding: 10px 0 10px;
}
/* p {
  text-align: left;
  padding: 10px 0 10px;
} */
/* span {
  text-align: left;
  padding: 10px 0 10px;
} */
/* ----------------------------------------------------- ПИЦЦА ----------------------------------------------------- */
/* ----------------------------------------------------- Списки чего-либо ----------------------------------------------------- */

/* .list {
  padding-right: 20px;
} */
/* .title {
  display: grid;
  grid-template-rows: 2fr 2fr;
} */

/* ----------------------------------------------------- LIST area ----------------------------------------------------- */

/* ----------------------------------------------------- MENU ----------------------------------------------------- */

/* ----------------------------------------------идет пересечение с LIST pizza))  ----------------------------------------------------- */
/* хз ка это выворачивать */
.menu {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 13px; */
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 20px;
  gap: 20px;
  align-items: stretch;
  max-width: 1024px;
  margin: 76px auto 50px;
}
.menu img {
  border-radius: 5px;
  width: 320px;
  height: 214px;
  cursor: grab;
}
.menu__item p {
  position: absolute;
  left: 10px;
  top: 170px;
  color: white;
  background-color: #396882ad;
}
.menu__item {
  position: relative;
  padding: 13px 0;
}
.menu-prod {
  grid-area: menu;
  font-size: 13px;
  color: #a1b5c0;
  background-color: #4e585d;
  --side-indent: 26px;
  position: fixed;
  width: 240px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
}
.menu-prod__items {
  width: 240px;
  height: calc(100vh - 76px);
  padding: 16px 12px 16px 28px;
  overflow-y: auto;
  background-color: var(--bg-color-concept);
  border-top: 1px solid hsla(0, 0%, 100%, 0.08);
  scrollbar-width: thin;
  scrollbar-color: var(--text-color-dark-2) transparent;
  scrollbar-gutter: stable;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}
/* ----------------------------------------------------- Боковое меню ----------------------------------------------------- */

.menu__item-nav {
  /* position: absolute; */
}
/* ----------------------------------------------------- BUTTON ----------------------------------------------------- */

button {
  width: 36px;
  height: 36px;
  border-radius: 9px;
  background-color: #a7c8b4;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 12px;
  font-weight: 500;
  font-size: 27px;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}
button:hover {
  background-color: #4f936a;
}
.menu-prod button {
  width: 240px;
  min-width: 142px;
  padding-right: 29px;
  padding-left: 29px;
  background-color: var(--bg-color-concept);
  cursor: pointer;
  height: 76px;
  align-items: center;
}

* {
  box-sizing: border-box;
}
/* ----------------------------------------------------- MEDIA ----------------------------------------------------- */
/* дб 1440 1280 1024 */
/* @media (max-width: 1570px) {
  .list__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    gap: 20px;
    align-items: stretch;
  }
  .list__title {
    max-width: 660px;
  }
} */

.ad {
  position: relative;
  top: 200px;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 20px;
  gap: 20px;
  align-items: stretch;
  max-width: 1024px;
  min-width: 775px;
  max-height: 100vh;
  padding-left: 15px;
  margin: 0 auto 50px;
  padding: 20px;
}

.form {
  display: flex;
  position: absolute;
  padding: 20px;
}
.form input {
  border: 2px solid black;
}
.form button {
  width: 70px;
  font-size: 13px;
}
a {
  text-decoration: none;
  color: #000;
}
